<nav class="navbar navbar-default">
	<div class="container">
  <form id="controls" class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" id="release-key" placeholder="Release key">
    </div>
    <button type="submit" class="btn btn-primary">Load dashboard</button>
  </form>
  </div>
</nav>