<script id="release-template" type="text/x-jquery-tmpl">
  <div class="release">
    <p>${name}</p>
    <p>${start_date}</p>
    <p>${release_date}</p>
    <p>${url}</p>
    <p>${remaining_estimate}</p>
    <p>${work_done}</p>
  </div>
</script>