<script id="team-template" type="text/x-jquery-tmpl">
	{{if name == 'unassigned'}}
		<li class="list-group-item team-member unassigned-points"><h3>${points_assigned} points are unassigned</h3></li>
	{{else}}
		<li class="list-group-item team-member">
  		<span class="badge">${points_assigned-points_remaining} are done</span><span class="badge">${points_assigned} points picked up</span>
  		<h3>${name}</h3>
		</li>
	{{/if}}
</script>




